@import './post.css';
@import './modal.css';


@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300');
body {
    padding: auto;
    margin: auto;
}

header {
    width: 100%;
    margin-bottom: 20px;
}
h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0;
    z-index: 1;
    position: relative;
    padding-top: 50px;
}
.site-description {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    background-color: yellow;
    display: table;
    padding: 2px 4px;
    margin: 0 auto;
    margin-top: -8px;
    letter-spacing: 5px;
    z-index: 0;
    position: relative;
}
h2 a, h2 a:link {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient( white 50%, yellow 50%);
    transition: background 500ms ease;
    background-size: 2px;
    background-size: auto 175%;

}
h2 a:hover {
    background-position-y: 100%;
}
.hidden {
    visibility: hidden;
    display: none;
}
.main-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px 10%;
}
img {
    margin: 8px;
    width: 15px;
    height: 15px;
}
#close-modal {
    position: absolute;
    right: 10px;
    top: 5px;
}

/*---------------comments div-----------------------*/

#load-comments {
    color: white;
    background: black;
    padding: 5px;
    width: fit-content;
}